<a id="top"></a>
<nav
  class="navbar navbar-expand navbar-light bg-light d-flex justify-content-around"
>
  <div class="logo">
    <a class="navbar-brand" routerLink="/"><span>JSON</span>ify</a>
  </div>
  <div class="links">
    <ul class="navbar-nav">
      <li
        class="nav-item active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <a class="nav-link" routerLink="/home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="cart">
    <a href="" class="nav-link navbar-link-2 waves-effect">
      <i class="fa fa-shopping-cart pl-0" style="font-size: 25px"></i>
    </a>
  </div>
</nav>
