<footer class="bg-light">
  <div class="row text-center">
    <div class="col text-center" style="text-align: center">
      <span>JSON</span>ify
    </div>
  </div>
  <div class="row">
    <div class="col footer-copyright text-center">
      Copyrights © 2021 Amira, Abdelfatah, Yehia, Omar. All rights reserved.
    </div>
  </div>
  <div class="row">
    <div class="col footer-bottom text-center">
      <a routerLink="">Privacy Policy</a> |
      <a routerLink="/contact-us">Contact Us</a>
    </div>
  </div>
  <button class="btn btn-outline-dark rounded-circle" (click)="top()">
    <i class="fas fa-arrow-up"></i>
  </button>
</footer>
