<footer class=" bg-light">
<div class="row text-center">
    <div class="col-11 text-center " style="text-align: center;">
       CompuStore
    </div>
    <div class="col-1" >
        <button  class="btn btn-outline-primary rounded-circle" (click)="top()">Top</button>
    </div>
</div>
<div class="row">
    
    <div class=" col footer-copyright text-center py-3">© 2021 Copyright: Omar, Yehia, Abdelfatah and Amira</div>
</div>
<div class="row">
    <div class=" col footer-copyright text-center py-3">
        Privacy Policy | <a routerLink=''>Contact Us</a>
    </div>
</div>
    

</footer>