.our-cart {
  float: right;
}
.zorar {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.available {
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 5px;
}
