<div style="padding: 10px">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ product.ProductPicUrl }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.Name }}</h5>
      <p><strong>Supplier: </strong> {{ product.SupplierName }}</p>
      <p class="card-text">
        <strong>Description: </strong> {{ product.Description }}
      </p>
      <p
        class="available"
        [style.color]="product.Status == 'Available' ? '#28A745' : '#DC3545'"
      >
        <strong>{{
          product.Status == "Available"
            ? "Currently In Stock"
            : "Not Currently Available"
        }}</strong>
      </p>
      <h3>
        {{ product.Price }} {{ product.CurrencyCode }}
        <span class="our-cart"
          ><a href="#"> <fa-icon [icon]="cartIcon" (click)="addToCart(product)"></fa-icon> </a
        ></span>
      </h3>
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        [routerLink]="['/products', product.ProductId]"
      >
        View Product
      </button>
    </div>
  </div>
</div>
