<table class="table container ">
  <thead>
    <tr>
      <th scope="col">Product </th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <th scope="row">
        <span>
          <img class="card-img-top" src="{{ item.ProductPicUrl }}" alt="Card image cap" />
        <span>
        </span>
        {{item.Name }}
        </span>
      </th>
      <td>{{item.Price}}</td>
      <td> <input type="text" class="form-control" placeholder="Quantity" aria-label="Username" aria-describedby="basic-addon1"></td>
      <td>{{item.Price }}</td>
    </tr>

  </tbody>
</table>