h2 {
  font-weight: 800;
}

.available span {
  color: aliceblue;
  background-color: rgba(18, 114, 18, 0.788);
  padding: 0.4rem 1.1rem;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 20px;
}

.not-available span {
  color: aliceblue;
  background-color: rgba(211, 66, 66, 0.863);
  padding: 0.4rem 1.1rem;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 20px;
}

.btn {
  font-weight: 500;
}

.loading-img {
  padding: 0 50px 50px 50px;
}

.load-img {
  background-color: rgba(204, 200, 200, 0.616);
  height: 100%;
  width: 85%;
}

.loading-tmp {
  background-color: rgba(204, 200, 200, 0.295);
  height: 25px;
  width: 100%;
  margin: 20px 0;
}

.loading-tmp.lt {
  width: 40%;
  height: 35px;
  margin-top: 0;
}
